//////////////////////////
// Bootstrap Color Set //
/////////////////////////
@transparent: transparent;
@white: #ffffff;

@brand-default: #999;

// Primary
@brand-primary: #304ffe;
@brand-primary-light: #4668fe;
@brand-primary-lighter: #4b7ffe;
@brand-primary-dark: #3047d1;
@brand-primary-darker: #1d31a2;

// Success
@brand-success: #2ad170;
@brand-success-light: #68d192;
@brand-success-lighter: #86d19e;
@brand-success-dark: #26a050;
@brand-success-darker: #18713d;

// Info
@brand-info: #00b0ff;
@brand-info-light: #2ccaff;
@brand-info-lighter: #39d6ff;
@brand-info-dark: #0074a8;
@brand-info-darker: #005577;

// Warning
@brand-warning: #ffa726;
@brand-warning-light: #ffb951;
@brand-warning-lighter: #f9d283;
@brand-warning-dark: #f39813;
@brand-warning-darker: #e58800;

// Danger
@brand-danger: #ef5350;
@brand-danger-light: #e57373;
@brand-danger-lighter: #ef9a9a;
@brand-danger-dark: #e32d2a;
@brand-danger-darker: #de0e0a;

// Alert
@brand-alert: #512da8;
@brand-alert-light: #5834c8;
@brand-alert-lighter: #6941ed;
@brand-alert-dark: #3e227b;
@brand-alert-darker: #221545;

// System
@brand-system: #6d4c41;
@brand-system-light: #6d573d;
@brand-system-lighter: #6d6053;
@brand-system-dark: #5b3a2f;
@brand-system-darker: #452b21;

// Light
@brand-light: #f3f6f7;
@brand-light-light: #fdfefe;
@brand-light-lighter: #ffffff;
@brand-light-dark: #e9eef0;
@brand-light-darker: #dfe6e9;

// Dark
@brand-dark: #3b3f4f;
@brand-dark-light: #424759;
@brand-dark-lighter: #51566c;
@brand-dark-dark: #2c2f3c;
@brand-dark-darker: #1e2028;

// Black
@brand-black: #283946;
@brand-black-light: #2e4251;
@brand-black-lighter: #354a5b;
@brand-black-dark: #1c2730;
@brand-black-darker: #0f161b;


// Additional Default Colors used to 
// create Bootstrap themed Gradients
@default-alt-color: #f0f0f0;
@primary-alt-color: #00b0ff;
@success-alt-color: #2ad170;
@info-alt-color: #18ceff;
@warning-alt-color: #ffa726;
@danger-alt-color: #ef5350;
@alert-alt-color: #5d3ab5;


// Used for gradient creation
@dark-alt-color: #555555;
@dark2-alt-color: #444444;
@dark3-alt-color: #333333;
@dark4-alt-color: #2c2c2c;
@dark5-alt-color: #151416;


////////////////////////////////
// Custom Element Colors Set //
///////////////////////////////
@facebook-color: #6395cf;
@twitter-color: #4fbdc8;



