<tr>
<td>{{Health}}</td>
<td>{{Type}}</td>
<td>{{ID}}</td>
<td><button type="button" class="btn btn-{{BreakStateColor}} br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> {{BreakStateText}}</td></td>
<td><button type="button" class="btn btn-{{EngineStateColor}} br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> {{EngineStateText}}</td></td>
</tr>

<!-- stateText : Normal / Warning / Critical -->
<!-- stateColor: info / warning / danger -->