/* ==============================================
   Page Footer
================================================= */
#content-footer {
  color: #b0bec5;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 76px;
  padding: 31px 15px;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.13);
  -webkit-transition: margin 0.2s ease;
  transition: margin 0.2s ease;

  b { color: @brand-danger; }
  .footer-meta { color: @brand-danger; padding-right: 55px; }
  .footer-return-top {
    text-align: center;
    position: absolute;
    top: -3px;
    right: 5px;
    width: 40px;
    line-height: 36px;
    height: 40px;
    background-color: #cfd8dc;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .footer-return-top span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7b939f;
    font-size: 18px;
    -webkit-transition: all 0.23s ease;
    transition: all 0.2s ease;
  }
  .footer-return-top:hover {
    cursor: pointer;
    background-color: #e2e2e2;
  }
  .footer-return-top:hover span {
    color: #666;
  }
}

/* Fixed Setting */
#content-footer.affix {
  z-index: 1; 
  position: fixed;
  margin-left: @sidebar-open-width;
}
/* Match Sidebar States */
body.sb-l-c #content-footer.affix {
  margin-left: @sidebar-closed-width;
}
body.sb-l-m #content-footer.affix {
  margin-left: @sidebar-minified-width;
}
@media (max-width: 900px) {
  body.sb-l-m #content-footer.affix {
    margin-left: 45px;
  }
}
