/* ===============================================
  Circle Graphs
================================================= */
.circle-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.circle-text h2 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  .circle-text h2 {
    font-size: 74px;
  }
}

.circle-text p {
  font-weight: 600;
  font-size: 12px;
  color: #999;
}
