/*===============================================
  High Charts
================================================= */

/* Custom Legend */
.chart-legend {} .legend-item {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 2s;
}

/* Label Text */
.highcharts-container .highcharts-axis-labels text {

}
