/*===============================================
  Jvector Maps
================================================= */
.jvectormap-label {
    z-index: 10;
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
}
.jvectormap-zoomin,
.jvectormap-zoomout {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 15px;
    padding: 0;
    width: 40px;
    height: 35px;
    line-height: 35px;
    color: @brand-danger;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    border-radius: 2px;
    border: 2px solid @brand-danger;
    transition: all 0.3s ease;

    &:hover{
        background: @brand-danger;
        color: #fff;
    }
}
.jvectormap-zoomout {
    top: 45px;
}

/* used to hide zoom buttons */
.hide-jzoom .jvectormap-zoomin,
.hide-jzoom .jvectormap-zoomout {
    display: block;
}
