// This file is reserved for your custom changes or additions
.normal {
  font-weight: 400 !important;
}

.theme-switcher{
  position: fixed;
  right: -205px;
  top: 260px;
  z-index: 100;
  background-color: #F1F1F1;
  width: 200px;
  border: 1px solid #C0C6CA;;
  transition: .2s;
}
.theme-switcher.active{
  right: 0;
}
.theme-switcher__header{
  min-width: 250px;
  padding: 10px 10px 10px 28px;
  margin-top: -1px;
  margin-left: -50px;
  background-color: #fff;
  border: 1px solid #D8D7D7;
  position: relative;
  cursor: pointer;
  color: #333;
}
.theme-switcher__title{
  text-align: center;
  font-size: 18px;
}
.theme-switcher__item a{
  display: inline-block;
  padding: 8px 20px;
  font-size: 16px;
  color: #4D4E4E;
}
.theme-switcher__icon{
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #00b0ff;
}
.theme-switcher__icon:after{
  font-family: "FontAwesome";
  content: "\f0d0";
}
.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.def-color {
  color: #37474f;
}

.color-1 {
  color: #b0bec5;
}

.color-2 {
  color: #273339;
}

.color-3 {
  color: #080b0c;
}

.color-4 {
  color: #546e7a;
}

.succses-color-1 {
  color: #2ad170;
}

.primary-color-1 {
  color: #00b0ff;
}

.warning-color-1 {
  color: #ffba56;
}

.danger-color-1 {
  color: #f16360;
}

.h-plus {
  position: absolute;
  right: 8px;

  &:before {
    content: '+';
    color: #ffebee;
    font-size: 16px;
    font-weight: 700;
  }
}

#sidebar_left.sidebar-light {
  .h-plus:before {
    color: @brand-danger;
  }

  .sidebar-menu > li.active > a > span:nth-child(1) {
    color: @brand-danger;
  }
}

.menu-open {
  .h-plus {
    &:before {
      content: '-';
    }
  }
}

.progress-bar--1 {
  background: @progress-bar-color;
  box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

.avatar img {
  border: 3px solid #e0e0e0;
  border-radius: 50%;
}

.navbar .nav > li > a.select-def,
.select-def {
  width: 123px;
  height: 32px;
  line-height: 31px;
  padding: 0 16px;
  border: 1px solid #cfd8dc;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;

  &:after {
    content: '\f107';
    display: inline-block;
    font: normal normal normal 17px/1 FontAwesome;
    text-rendering: auto;
    color: #b1bfc6;
    position: absolute;
    right: 19px;
    top: 5px;
  }
}

.navbar .nav > li > a.select-def {
  margin-top: 15px;
  margin-right: 13px;
}

.navbar .nav > li.open > a.select-def {
  &:after {
    content: '\f106';
  }
}

.open {
  .select-def {
    &:after {
      content: '\f106';
    }
  }
}

.text-trasnf-none {
  text-transform: none;
}

//.highcharts-legend-item path{
//  stroke-width: 15 !important;
//}

.rect-icon {
  content: '';
  display: inline-block;
  width: 9px;
  height: 4px;
  background: #cfd8dc;
  margin-right: 4px;
}

.child-inline-block {
  > * {
    display: inline-block;
  }
}

.progress-persent {

  .persent {
    position: relative;
  }
  span.pers {
    color: #273339;
    font-size: 16px;
    line-height: (24/16);
    position: absolute;
    top: -4px;
    right: -34px;
  }
}

.gui-input {
  border: none;
  outline: none;
  height: 32px;
  padding: 0 12px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: none;
  border-radius: 30px;
  border: 1px solid #cfd8dc;
  background: transparent;
  display: inline-block;
  width: auto;
  font-weight: 400;
  vertical-align: middle;
  font-size: 13px;
  line-height: 1.49;
  color: #4c6069;
}

.table-lh-36 {
  td {
    line-height: 36px !important;
  }
}

.table-lh-31 {
  td {
    line-height: 31px !important;
  }
}

.footer-legal {
  font-size: 16px;
  color: #b0bec5;
}

.author-widget {
  .media-body {
    padding-top: 4px;
  }
}

#calendar {
  .fc-bg .fc-today {
    box-shadow: none;
    background-color: #FFC8C7;
    border-radius: 0px;
  }

  .fc-button {
    border: 1px solid #d5dde0;
    height: 41px;
    width: auto;
    text-align: center;
    border-radius: 7px;
    line-height: 1;
    font-size: 13px;
    padding: 0;
    color: #666666;
    background-color: #f0f0f0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.15);
    height: auto;
    padding: 10px 12px;

    &:hover {
      color: #666666;
      background-color: #eaeaea;
    }

  }

  .fc-button-group > * {
    margin: 0 0 0 7px;
  }
}

#calendar-widget .fc-view-container td,
#calendar-widget .fc-view-container th {
  //border: none !important;
  border: 0px solid transparent;
}

body.sb-l-m #sidebar_left {
  .h-plus {
    right: 22px;
  }
}

#high-bars,
#highcharts-6,
#highcharts-25,
#highcharts-2,
#highcharts-4,
#highcharts-16,
#highcharts-18,
#highcharts-20,
#highcharts-10,
#highcharts-0 {
  max-width: 100%;
}

#high-line3 {
  max-width: 95%;
  overflow: hidden;
}

@media (min-width: 992px) {
  .pt-md-80 {
    padding-top: 80px !important;
  }
}

.widgets-scroller-page {
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 9px 10px;
  }
  table.tc-bold-1 tbody td:first-child, table.tc-bold-2 tbody td:nth-child(2), table.tc-bold-3 tbody td:nth-child(3), table.tc-bold-last tbody td:last-child {
    text-align: left;
  }
}

.table-sparklines {
  .panel-body {
    width: 100%;
  }
}

.btn-round {
  border-radius: 40px;
}

.btn.btn-round {
  padding: 9px 33px 9px 20px;
}

.dropdown-toggle.btn-round {
  border-radius: 40px;
  border-left: medium none;
  box-shadow: none;

  .caret::before {
    border: none;
    position: absolute;
    top: 50%;
    right: 4%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 22px;
    transition: 0.3s;
  }
}

.open .dropdown-toggle.btn-round {
  .caret::before {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) ;
    -ms-transform: translate(-50%, -50%) rotate(180deg) ;
    transform: translate(-50%, -50%) rotate(180deg) ;
  }
}

a{
  &:hover{
    text-decoration: none !important;
  }
}

.o-hidden{
  overflow: hidden;
}

.w100{
  width: 100% !important;
}


.theme-switcher{
  position: fixed;
  right: -205px;
  top: 260px;
  z-index: 100;
  background-color: #F1F1F1;
  width: 200px;
  border: 1px solid #C0C6CA;;
  transition: .2s;
}
.theme-switcher.active{
  right: 0;
}
.theme-switcher__header{
  min-width: 250px;
  padding: 10px 10px 10px 28px;
  margin-top: -1px;
  margin-left: -50px;
  background-color: #fff;
  border: 1px solid #D8D7D7;
  position: relative;
  cursor: pointer;
  color: #333;
}
.theme-switcher__title{
  text-align: center;
  font-size: 18px;
}
.theme-switcher__item a{
  display: inline-block;
  padding: 8px 20px;
  font-size: 16px;
  color: #4D4E4E;
  position: relative;
  line-height: 1.3;
}
.theme-switcher__item a:hover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
  -moz-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  -o-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  border: 9px solid transparent;
  border-right: 9px solid #C0C6CA;
}
.theme-switcher__item a:hover img{
  opacity: 1;
  left: -440px;
  transition: .3s ease-out;
}
.theme-switcher__item a img {
  pointer-events: none;
  opacity: 0;
  z-index: 100;
  position: absolute;
  left: -478px;
  top: 50%;
  width: 400px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: .2s ease-out;
  padding: 7px;
  background-color: #f2f2f2;
  border: 1px solid #dcdcdc;
}
.theme-switcher__icon{
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #00b0ff;
}
.theme-switcher__icon:after{
  font-family: "FontAwesome";
  content: "\f0d0";
}
