/*==================================================
  Alerts
==================================================== */


// Base styles
// -------------------------

.alert {
  color: @white;
  font-size: @alert-font-size;
  padding: @alert-padding;
  margin-bottom: @line-height-computed;
  box-shadow:         0px 1px 4px 0px rgba(0, 0, 0, 0.13);
  border-style: solid;
  border-color: transparent;

  // Adjust close link position
  .close {
    color: @text-color;
      &:hover { 
        color: @text-color;
      }
  }

  .btn{
    font-size: 12px;

  }

  &--mod-1{
    padding: 25px 30px 30px;
  }

  // Divider
  hr {
    border-top-color: rgba(0,0,0,0.1);
  }

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing @headings-color
    color: inherit;
  }
  // Provide class for links that match alerts
  .alert-link {
    color: @white;
    font-weight: @alert-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }
  > p + p {
    margin-top: 5px;
  }

  // Alert sizes
  &.alert-micro,.alert-sm {
  font-size: 13px;
  padding: 9px 35px 9px 9px;
  border-radius: 0;
  }
  &.alert-sm { padding: 12px 35px 12px 12px; }

  // Border variations - options
  &.alert-border { border: 1px solid transparent; }
  &.alert-border-right { border-right-width: 6px; }
  &.alert-border-top { border-top-width: 3px; }
  &.alert-border-bottom { border-bottom-width: 3px; }
  &.alert-border-left {
    padding-left: 15px;
    border-left-width: 6px;
  }

}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.
.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: (@alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    right: -21px;
    color: #FFF;
    opacity: 1;
    transition: 0.3s;

      &:hover { 
        color: #FFF;
        opacity: 0.3;
      }
  }
}

.alert{

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #fff;
  }

  .btn{
    border: 1px solid #fff;
    padding-left: 30px;
    padding-right: 30px;
    &:hover{
      border: 1px solid #fff;
    }
  }

}

.alert-alert{
  .btn-alert{
    background: lighten(@alert-alert-bg, 20%);

    &:hover{
      background: lighten(@alert-alert-bg, 15%);
    }
  }
}

.alert-success{
  .btn-success{
    background: lighten(@alert-success-bg, 20%);

    &:hover{
      background: lighten(@alert-success-bg, 15%);
    }
  }
}

.alert-info{
  .btn-info{
    background: lighten(@alert-info-bg, 20%);

    &:hover{
      background: lighten(@alert-info-bg, 15%);
    }
  }
}

.alert-warning{
  .btn-warning{
    background: lighten(@alert-warning-bg, 20%);

    &:hover{
      background: lighten(@alert-warning-bg, 15%);
    }
  }
}

.alert-danger{
  .btn-danger{
    background: lighten(@alert-danger-bg, 20%);

    &:hover{
      background: lighten(@alert-danger-bg, 15%);
    }
  }
}

.alert-system{
  .btn-system{
    background: lighten(@alert-system-bg, 20%);

    &:hover{
      background: lighten(@alert-system-bg, 15%);
    }
  }
}

.alert-primary{
  .btn-primary{
    background: lighten(@alert-primary-bg, 20%);

    &:hover{
      background: lighten(@alert-primary-bg, 15%);
    }
  }
}

.alert-dark{
  .btn-dark{
    background: lighten(@alert-dark-bg, 20%);

    &:hover{
      background: lighten(@alert-dark-bg, 15%);
    }
  }
}

