/*==================================================
  Radios and Checkboxes
==================================================== */

// Shared Radio/Checkbox Styles
// --------------------------------------------
.radio-custom,
.checkbox-custom {
  background-color: transparent;
  color: inherit;
}

/* hide default input */
.radio-custom input,
.checkbox-custom input {
  display: none;
}

.checkbox-custom label:empty,
.radio-custom label:empty {
  padding-left: 10px;
}

.checkbox-disabled-1 {
  label {
    &:after {
      color: #90a4ae !important;
    }
  }
}

// Radios
// --------------------------------------------

/* radio container */
.radio-custom label {
  cursor: pointer;
  position: relative;
  padding-left: 43px;
  margin-right: 15px;
  margin-bottom: 5px;
}

/* radio border */
.radio-custom label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  border: 1px solid #d0d8dc;
}

/* check radio icon */
.radio-custom input[type=checkbox]:checked + label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 64px;
  width: 10px;
  height: 10px;
  color: #d2dade;
  background-color: #d2dade;
}

.radio-custom input[type=radio]:checked + label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  color: #37474f;
  background-color: #37474f;
}

/* alt style - square */
.radio-custom.square label:before {
  border-radius: 2px;
}

.radio-custom.square input[type=radio]:checked + label:after,
.radio-custom.square input[type=checkbox]:checked + label:after {
  border-radius: 2px;
}

// Checkboxes
// --------------------------------------------

/* checkbox container */
.checkbox-custom label {
  cursor: pointer;
  position: relative;
  padding-left: 43px;
  line-height: 29px;
}

/* checkbox border */
.checkbox-custom label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 29px;
  height: 29px;
  border: 1px solid #d0d8dc;
  border-width: 1px;
  border-radius: 2px;
}

/* checked state icon */
.checkbox-custom input[type=checkbox]:checked + label:after {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 14px;
  line-height: 19px;
  top: 7px;
  left: 7px;
  width: 0;
  height: 0;
  transform: rotate(-13deg);
}

.custom--mod-1.checkbox-custom input[type=checkbox]:checked + label:after {
  color: #37474f;
}

.custom--mod-1 input[type=checkbox]:checked + label:before,
.checkbox-custom input[type=checkbox]:checked + label:before {
  background: #cfd8dc;
}

.task-handle {
  .custom--mod-1 input[type=checkbox]:checked + label:before,
  .checkbox-custom input[type=checkbox]:checked + label:before {
    background: transparent;
  }

}



.checkbox-custom--1 {
  color: #37474f;

  label:before {
    background: #cfd8dc;
    border-radius: 0;
  }

}

/* alt style - filled bg ".fill" */
.checkbox-custom.fill label {
  cursor: pointer;
  position: relative;
  padding-left: 43px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.checkbox-custom.fill label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  width: 22px;
  height: 21px;

}

.checkbox-custom.fill input[type=checkbox]:checked + label:after,
.checkbox-custom.fill input[type=radio]:checked + label:after {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 12px;
  top: 3px;
  left: 3px;
  width: 0;
  height: 0;

  transform: rotate(-13deg);
}


