/*==================================================
  Labels
==================================================== */

.label {
  display: inline;
  padding: .5em 1.4em .5em;
  font-size: 84%;
  font-weight: 400;
  line-height: 24px;
  color: @label-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  // Label sizes
  &.label-xs {
    padding: 0 .35em .1em;
    font-size: 75%;
  }

  // Label sizes
  &.label-sm {
    padding: .1em .65em .2em;
    font-size: 75%;
  }
  &.label-lg {
    padding: .4em .9em .5em;
    font-size: 95%;
  }

  // Rounded option
  &.label-rounded {
    padding: .5em 1.4em .5em;
    border-radius: 1.5em;

      &.label-xs {padding: 3px 7px;
        font-size: 75%;
        text-transform: uppercase;
        font-size: 10px; }
      &.label-sm { padding: .1em .65em .2em; }
      &.label-lg { padding: .4em .9em .5em; }
  }

  &.label-round {
    border-radius: 50%;
    padding: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;

    & + & {
      margin-left: 5px;
    }
  }

  // Add hover effects, but only for links
  a& {
    &:hover,
    &:focus {
      color: @label-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
}

