
/*===============================================
   Navbar Settings
================================================= */

/* If header is fixed modify primary containers padding */
.navbar.navbar-fixed-top + #sidebar_left + #content_wrapper {
	padding-top: 75px;
}

/*===============================================
   Sidebar Settings
================================================= */

/* Fixed Sidebar */
#sidebar_left.affix { 
	position: fixed;
}
/* Scrollbar for Sidebars in Fixed Positions */
#sidebar_left.affix > .sidebar-menu {
	overflow-x: hidden;
	position: absolute;
	width: 100%;
	top: 85px;
	bottom: 52px;
	transition: top .2s ease-in-out;
}
#sidebar_left.affix > .email-menu + .sidebar-menu {
	overflow-x: hidden;
	position: absolute;
	width: 100%;
	top: 485px;
	bottom: 52px;
	transition: top .2s ease-in-out;
}

/* Corrects Pseudo sidebar bg when fixed */
#sidebar_left.affix:before {left: 0;}
body.sidebar-hidden #sidebar_left.affix:before,
body.sidebar-rtl #sidebar_left.affix:before {
	left: -(@sidebar-open-width);
}

/* Sidebar User Area - Hidden */
.user-info.hidden,
.user-info.hidden + .user-divider { display: none; }
body.usermenu-hidden .user-info,
body.usermenu-hidden .user-info + .user-divider { display: none }
body.usermenu-hidden #sidebar_left.affix .user-info + .user-divider + .sidebar-menu,
body.usermenu-hidden #sidebar_left.affix .user-info + .user-divider + .menu-widget + .sidebar-menu {
	top: 0;
}
#sidebar_left.affix > .menu-widget.menu-widget-open + .sidebar-menu {
	top: 250px;
}

/*===============================================
  Breadcrumbs Settings
================================================= */

/* fixed state */
#topbar.affix {
	z-index: 1027; // should be below navbar and sidebar, but above most ui-widgets
	width: auto;
	left: 0;
	right: 0;
	margin-left: @sidebar-open-width;
	position: fixed;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/* match content margin to topbar height */
#topbar.affix + #content { margin-top: 51px; }
#topbar.affix.alt + #content { margin-top: 71px; }

/* fixed state - w/ open sidebar */
body.sb-l-o #topbar.affix { margin-left: @sidebar-open-width; }

/* fixed state - w/ minified sidebar */
body.sb-l-m #topbar.affix { margin-left: @sidebar-minified-width; }

body.sb-l-m{
  .navbar-branding.dark{
	&:after{
	  width: @sidebar-minified-width;
	}
  }
}

/* fixed state - w/ closed sidebar */
body.sb-l-c #topbar.affix {	margin-left: 0px; }

// Responsive Affix Settings
@media (max-width: 900px) {

	/* fixed state - w/ open sidebar */
	body.sb-l-o #topbar.affix {
    width: 100%;
	  margin-left: @sidebar-open-width; 
	}

	/* fixed state - w/ minified sidebar */
	body.sb-l-m #topbar.affix { 
    width: auto;
		margin-left: 45px; 
	}

	/* fixed state - w/ closed sidebar */
	body.sb-l-c #topbar.affix {	
    width: 100%;
		margin-left: 0px; 
	}
}


/* Prevents Demo Bug - if navbar is fixed 
 * and also hidden grant proper margin spacing */
#topbar.affix.hidden + #content {
	margin-top: 0;
}
/* Topbar/Breadcrumbs Area - Hidden */
body.hidden-breadcrumbs #topbar { display: none }

/* for preview only - no real use in development enviroment */
body.sidebar-collapsed #sidebar:before { width: 40px }
