/*===============================================
  Tabs
================================================= */

/* Tabs Wrapper */
.tab-block {
  position: relative
}

/* Tabs Content */
.tab-block .tab-content {
  overflow: auto;
  position: relative;
  z-index: 10;
  min-height: 125px;
  padding: 16px 12px;
  border: 1px solid @panel-border-color;
  background-color: #FFF;
}

/*===============================================
  Tab Navigation
================================================= */
.tab-block .nav-tabs {
  position: relative;
  border: 0;
}

/* nav tab item */
.tab-block .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

/* nav tab link */
.tab-block .nav-tabs > li > a {
  z-index: 9;
  position: relative;
  color: #78909c;
  font-size: 16px;
  font-weight: 400;
  padding: 14px 20px;
  margin-right: -1px;

  border-color: @panel-border-color;
  border-radius: 0;
  background: #fafafa;
}

.tab-block .nav-tabs > li:first-child > a {
  margin-left: 0
}

/* nav tab link:hover */
.tab-block .nav-tabs > li > a:hover {
  background-color: #f4f4f4;
}

/* nav tab active link:focus:hover */
.tab-block .nav-tabs > li.active > a,
.tab-block .nav-tabs > li.active > a:hover,
.tab-block .nav-tabs > li.active > a:focus {
  cursor: default;
  position: relative;
  z-index: 12;
  color: #555555;
  background: #FFF;
  border-color: @panel-border-color;
  border-bottom: 1px solid #FFF;
}

/*===============================================
  Tab Navigation - Tabs Left
================================================= */
.tabs-left {
  float: left
}

/* nav tab item */
.tabs-left > li {
  float: none;
  margin: 0 -1px -1px 0;
}

/* nav tab item link */
.tabs-left > li > a {
  padding: 14px 16px;
  color: #777;
  font-weight: 600;
  border: 1px solid transparent;
  border-color: #DDD;
  background: #fafafa;
}

/* nav tab link:hover */
.tab-block .tabs-left > li > a:hover {
}

/* nav tab active link:focus:hover */
.tab-block .tabs-left > li.active > a,
.tab-block .tabs-left > li.active > a:hover,
.tab-block .tabs-left > li.active > a:focus {
  color: #555;
  border-color: #DDD #FFF #DDD #DDD;
  cursor: default;
  position: relative;
  z-index: 12;
  background: #FFF;
}

/*===============================================
  Tab Navigation - Tabs Right
================================================= */
.tabs-right {
  float: right
}

/* nav tab item */
.tabs-right > li {
  float: none;
  margin: 0 0 -1px -1px;
}

/* nav tab item link */
.tabs-right > li > a {
  padding: 14px 16px;
  color: #777;
  font-weight: 600;
  border: 1px solid transparent;
  border-color: #DDD;
  background: #fafafa;
}

/* nav tab link:hover */
.tab-block .tabs-right > li > a:hover {
}

/* nav tab active link:focus:hover */
.tab-block .tabs-right > li.active > a,
.tab-block .tabs-right > li.active > a:hover,
.tab-block .tabs-right > li.active > a:focus {
  color: #555;
  border-color: #DDD #DDD #DDD #FFF;
  cursor: default;
  position: relative;
  z-index: 12;
  background: #FFF;
}

/*===============================================
  Tab Navigation - Tabs Right
================================================= */
.tabs-below {
  position: relative;
}

/* nav tab item */
.tabs-below > li {
  float: left;
  margin-top: -1px;
}

/* nav tab item link */
.tabs-below > li > a {
  position: relative;
  z-index: 9;
  margin-right: -1px;
  padding: 11px 16px;
  color: #777;
  font-weight: 600;
  border: 1px solid #DDD;
  background: #fafafa;
}

/* nav tab link:hover */
.tab-block .tabs-below > li > a:hover {
}

/* nav tab active link:focus:hover */
.tab-block .tabs-below > li.active > a,
.tab-block .tabs-below > li.active > a:hover,
.tab-block .tabs-below > li.active > a:focus {
  cursor: default;
  position: relative;
  z-index: 12;
  color: #555555;
  background: #FFF;
  border-color: #DDD;
  border-top: 1px solid #FFF;
}

/*===============================================
  Tab Navigation Option - Panel Based Tabs
  -----------------------------------------------
  Panel Tab Navigation must be placed inside
  ".panel-heading" see Docs for example 
================================================= */
.panel-tabs {
  position: absolute;
  top: 0;
  right: 0;
}

/* nav tab item */
.panel-tabs > li {
  position: relative;
  float: left;
  margin-bottom: -1px;
  height: 100%;
}

/* nav tab item link */
.panel-tabs > li > a {
  // font-family: 'Source Sans Pro', sans-serif;
  color: #78909c;
  font-size: 16px;
  line-height: 66px;
  padding: 0px 20px;
  height: 100%;
  border-radius: 0;
}

/* nav tab item link:hover */
.panel-tabs > li > a:hover {
  color: #444;
  background-color: transparent;
}

/* nav tab item active link:focus:hover */
.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
  cursor: default;
}

/* nav tab item active link:focus:hover */
.panel-tabs > li.active > a {

}

.panel-tabs > li.active:last-child > a {

}

/* Unlike normal tabs, panel tabs alignment
 * to the rightside. This option aligns them left */
.panel-tabs-left {
  left: 0;
}

.panel-tabs-left > li.active:first-child > a {

}

.panel-tabs-left > li.active:last-child > a {

}

/*===============================================
  Tab Navigation - Justified
================================================= */
.tab-block .nav-tabs.nav-justified {
  top: 1px;
  margin-top: -1px;
}

/* nav tab link */
.tab-block .nav-tabs.nav-justified > li {
  float: none;
}

/* nav tab item link */
.tab-block .nav-tabs.nav-justified > li > a {
  padding: 14px 10px;
}

/* tabs justified - bottom */
.tab-block .tab-content + .nav-tabs.nav-justified {
  top: -1px;
  margin-top: 0;
}

/* nav tab active link */
.tab-block .tab-content + .nav-tabs.nav-justified > li.active > a {
  border-top-color: #fff;
  border-bottom-color: #DDD;
}

/*===============================================
  Tab Navigation Option - Right Floating Tabs
  ------
  This settings refers to tabs that float from
  left to right, not tabs that are to the right 
  of tab content
================================================= */
.nav-tabs.nav-tabs-right > li {
  float: right;
}

.nav-tabs.nav-tabs-right > li:first-child > a {
  margin-right: 0;
}

/*===============================================
  Tab Navigation Option - Active Item Border
================================================= */
/* tabs default */
.tab-block .tabs-border.nav-tabs > li.active > a {
  margin-top: -1px;
  border-top: 2px solid @tab-block-active-item;
}

/* tabs left */
.tab-block .tabs-border.tabs-left > li.active > a {
  margin-left: -1px;
  border-left: 2px solid @tab-block-active-item;
}

/* tabs right */
.tab-block .tabs-border.tabs-right > li.active > a {
  margin-right: -1px;
  border-right: 2px solid @tab-block-active-item;
}

/* tabs bottom */
.tab-block .tabs-border.tabs-below > li.active > a {
  margin-bottom: -1px;
  border-bottom: 2px solid @tab-block-active-item;
}

/* panel tabs */
.panel-tabs.panel-tabs-border > li.active > a {
  margin-top: -1px;
  border-top: 2px solid @tab-block-active-item;
}

/* tabs justified */
.tab-block .tab-content + .tabs-border.nav-justified > li.active > a {
  border-bottom: 2px solid @tab-block-active-item;
}

/*====================================================
  Tab Navigation Option - Active Item Inverse Border
====================================================== */
.tab-block .tabs-border-bottom.nav-tabs > li.active > a,
.tab-block .tabs-border-bottom .nav-tabs > li.active > a {
  color: #555;
  font-weight: 600;
  margin-bottom: -1px;
  background: #f7f7f7;
  border-color: #DDD;
  border-bottom: 2px solid @tab-block-active-item;
}

/*====================================================
  Tab Navigation Option - Nav Background
====================================================== */
/* tabs default */
.tabs-bg.nav-tabs {
  background: #f5f5f5;
  border: 1px solid #DDD;
  border-bottom: none;
  padding: 10px 10px 0;
}

/* tabs bottom */
.tabs-bg.tabs-below {
  background: #f5f5f5;
  border: 1px solid #DDD;
  border-top: none;
  padding: 0 10px 6px;
}

/*===============================================
  Tab Navigation Option - Unstyled Tab Block
  ---------
  Removes container and active borders
  Used primarily in sidebars
================================================= */
// menu items
.tab-block.sidebar-block .nav-tabs > li > a {
  background: #f0f0f0;
  padding: 16px 8px;
}

// first menu item 
.tab-block.sidebar-block .nav-tabs > li:first-child > a {
  border-left: 0;
}

// last menu item
.tab-block.sidebar-block .nav-tabs > li:last-child > a {
  border-right: 0;
}

// active menu item 
.tab-block.sidebar-block .tabs-border.nav-tabs > li.active > a {
  background: #f8f8f8;
  border-top-width: 0;
  border-bottom-color: #f8f8f8;
}

// menu content tabs
.tab-block.sidebar-block .tab-content {
  border: 0;
  background: transparent;
}

/*===============================================
  Tab Navigation Option - Tab Merge 
  Color to Match
  ---------
  Change Active Tab BG Color so that it merges
  into a sibling panel-menu
================================================= */
/* bg-light colored panel-tabs styling */
.panel-tabs.panel-tabs-merge > li.active > a,
.panel-tabs.panel-tabs-merge > li.active > a:hover,
.panel-tabs.panel-tabs-merge > li.active > a:focus {
  background: #FAFAFA;
}
